<h1>APP GESTION LIVRE</h1>

<div class="card">
  <!-- <h5 class="card-header">Table Basic</h5> -->

 
  
  <div class="table-responsive text-nowrap">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#basicModal">+</button>

    <table class="table">
      <thead>
        <tr>
       
          <th>Id</th>
          <th>Titre</th>
          <th>Auteur</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <tr >
                <td>1</td>
                <td>Monkila tech</td>
                <td>Joe Monkila</td>
               
                
                <td>
                    <i class='bx bx-search-alt-2' data-bs-toggle="modal" data-bs-target="#updateModal">Update</i>
                    <i class='bx bxs-trash primary'>Delete</i>
                </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Informations</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form>
      <div class="modal-body">
        <div class="row">
          <div class="col mb-3">
            <label for="nameBasic" class="form-label">Titre</label>
            <input type="text" id="nameBasic" class="form-control" placeholder="Titre" formControlName="username"/>
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="nameBasic" class="form-label">Auteur</label>
            <input type="text" id="nameBasic" class="form-control" placeholder="Auteur" formControlName="username"/>
          </div>
        </div>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ajouter</button>
      </div>
    </form>
      
    </div>
  </div>
</div>
<!-- Modal -->

<!-- Modal update-->
<div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Informations</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form>
      <div class="modal-body">
        <div class="row">
          <div class="col mb-3">
            <label for="nameBasic" class="form-label">Titre</label>
            <input type="text" id="nameBasic" class="form-control" placeholder="Titre" formControlName="username"/>
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="nameBasic" class="form-label">Auteur</label>
            <input type="text" id="nameBasic" class="form-control" placeholder="Auteur" formControlName="username"/>
          </div>
        </div>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Modifier</button>
      </div>
    </form>
      
    </div>
  </div>
</div>
<!-- Modal -->